body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Ubuntu', sans-serif;
}

/* HEADER SECTION */

header {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
}

.header {
    width: 33%;
    height: 100%;
}

.header a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGO */

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.logo img {
    height: 70%;
    padding: 0.5rem;
    margin-left: 2rem;
}

.logo a {
    height: 100%;
}

/* NAVIGATION */

.header ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header li {
    font-size: 1.3rem;
    padding: 1rem;
}

.header li a:hover {
    color: #EEEEEE;
}
/* CONTACT */
.contact {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 3rem;
}
.contact img {
    height: 30%;
    margin: 0.5rem;
}

.contact a {
    height: 100%;
}

.contact a:hover {
    color: #EEEEEE;
}